body{
    background-color: whitesmoke;
}
header{
    position: fixed;
    margin-top: 0;
    top : 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10;
}
.Hcontainer{
    display: flex;
    background: white;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px  rgba(0,0,0,0.1);
    color: black;
    justify-items: center;
}
.Hkanan a{
    padding: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: 450;
    transition: 0.3s ease;
    align-items: center;
}
.Hkanan{
    display: flex;
    gap: 1.5rem;
}
.Hkanan a:hover{
    transform: translateY(-0.2rem)
}
.Hkiri a:hover{
    transform: translateY(-0.2rem);
    background-color: rgba(0,0,0,0.1);
    border-radius: 1rem;
    border: 0;
}
.daftar{
    background: linear-gradient(45deg,#048dff, #88c9ff);
    border-radius: 1rem;
}
.daftar a{
    font-weight: 800;
}
.hidden{
    display: none;
}
.Hkiri{
    display: flex;
    gap: 2rem;
}
.Hkiri a{
    padding: 1rem;
    font-size: 2rem;
    align-content: center;
    color: black;
    font-size: 2.5 rem;
    transition: 0.3s ease;
    font-weight: 450;
}
.Hkiri img{
    width: 3vw;
}
.Hcontainer .Hkiri .Hactive{
    font-weight: 600;
}
.Hcontainer .Hkanan .daftar{
    font-weight: 600;}
section{
    overflow: hidden;
    position: absolute;
    width: 100%;
    min-height: 100vh;
}
.home{
    display: flex;
    position: relative;
    margin-top: 5rem;
}
.home .container{
    width: 100%;
}
.rumah{
    margin-top: 15vh;
    justify-items: center;
}
.rumah h1{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 6rem;
    font-weight: 600;
    animation: rumahh1 2s ease;
}
.rumah p{
    text-align: center;
    margin-top: 5vh;
    font-size: 2.5rem;
    padding-left: 25%;
    padding-right: 25%;
    font-weight: 250;
    margin-bottom: 5vh;
    animation: rumahp 2.5s ease;
}
.rumah a{
    display: inline-block;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(45deg,#048dff, #88c9ff);
    border-radius: 1rem;
    font-size: 2.5rem;
    font-weight: 550;
    color: black;
    animation: rumaha 3s ease;
}
@keyframes rumahh1{
    0% {opacity: 0;
        transform: translateY(50%);}
    100% {opacity: 100%;
    transform: translateY(0%);}
}
@keyframes rumahp{
    0% {opacity: 0;
        transform: translateY(50%);}
    100% {opacity: 100%;
    transform: translateY(0%);}
}
@keyframes rumaha{
    0% {opacity: 0;
        transform: translateY(50%);}
    100% {opacity: 100%;
    transform: translateY(0%);}
}

.Start_now:hover{
    transform: translateY(-0.2rem)
}